<form class="c-form" 
      {% if autor%}
        action="{{url_for('autor.uptade_autor', autor_id=autor.id)}}" 
      {% else %}
        action="{{url_for('autor.inserir_autor')}}"
      {% endif %}


      method="{% if autor %}PUT{% else %}POST{% endif %}"
      {% if autor %}
          c-swap="#autor-{{autor.id}}"
      {% else %}
        c-append="#lista-autores"
      {% endif %}

      c-reload-container="true">

    <div class="mb-3">
      <label class="form-label">Nome do autor</label>
      <input type="text" class="form-control" name="nome" {% if autor%} value="{{autor.nome}}" {% endif %}  >
    </div>

    <div class="mb-3">
        <label class="form-label">Nome do livro</label>
        <input type="text" class="form-control" name="livro" {% if autor%} value="{{autor.livro}}" {% endif %} >
      </div>

   
    
    <button type="submit"
    class="btn btn-primary">
      {% if autor%}Salvar{% else %}Criar{% endif %}
  </button>
</form>